@use "../../global/mixin" as *;
@use "../../global/color" as *;
@use "../../global/font" as *;
@use "../../global/variables" as *;
@use "../../global/function" as *;

.p-index-recommend {
  background: url(../img/common/sp/bg-image-sp.png)
    no-repeat center center / cover;
  width: 100%;
  padding-block: 40px;
  margin-block-start: 40px;

  @include mq {
    padding-block: 64px;
    background: url(../img/common/bg-image.png)
      no-repeat center center / cover;
  }
}

