@use "../../global/mixin" as *;
@use "../../global/color" as *;
@use "../../global/font" as *;
@use "../../global/variables" as *;
@use "../../global/function" as *;

.p-index-mv {
  margin-block-start: 165px;

  @include mq {
    margin-block-start: 94px;
  }
}

.p-index-mv__link {
  padding: myClamp(16, 28);
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03),
    0px 5px 30px 0px rgba(20, 43, 78, 0.2);
  transition: opacity $hover-transition ease;
  display: block;
  height: 100%;

  @include mq {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.02),
      0px 16px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
  }

  &:focus-visible {
    opacity: $opacity-08;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: $opacity-08;
    }
  }
}

.p-index-mv__card__wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-index-mv__title {
  order: 3;
  flex-grow: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: block-axis;
  -webkit-line-clamp: 2; //2行以上は省略する
  contain: content;
  font-size: myClamp(15, 20);
  font-weight: 500;
  line-height: $line-height-1dot4;
  letter-spacing: 0.3px;
  width: 100%;

  @include mq {
    letter-spacing: 1px;
    line-height: $line-height-1dot6;
  }
}

.p-index-mv__category {
  order: 4;
  span {
    display: inline-block;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 4px;
    font-size: myClamp(13, 18);
    line-height: $line-height-1dot6;
    border: 1px solid;

    @include mq {
      border-radius: 6px;
      line-height: $line-height-1dot4;
      padding: 3px 20px;
    }
  }

  //新着情報
  .is-news {
    color: $accent-color-pink;
  }

  //ニュース
  .is-new {
    color: $accent-color;
  }

  //tips
  .is-tips {
    color: $accent-color-lightBlue;
  }

  //インタビュー
  .is-interview {
    color: $accent-color-purple;
  }
}

.p-index-mv__tag {
  order: 5;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  margin-top: myClamp(4, 10);

  @include mq {
    gap: 11px;
  }
}

.p-index-mv__tagName {
  display: inline-block;
  background: $tag-color;
  padding: 2px 8px;
  font-size: myClamp(12, 14);
  line-height: $line-height-1dot8;
  border-radius: 24px;
  flex-shrink: 0; // タグが縮まないようにする

  @include mq {
    line-height: $line-height-1dot5;
    border-radius: 16px;
    padding: 1px 12px 2px;

  }
}

.p-index-mv__publish {
  order: 2;
  font-size: myClamp(12, 14);
  line-height: $line-height-1dot2;
  color: $text-gray-color;
  margin-top: myClamp(2, 6);
}

.p-index-mv__thumbnail {
  order: 1;
  aspect-ratio: 270 / 152;
  contain: strict;
  min-inline-size: 0;
  border-radius: 8px;

  @include mq {
    aspect-ratio: 540 / 305;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
