$text-color: #343436; //テキストカラー
$text-gray-color: #676E87;
$bg-color: #E6EDF3; //全体の背景色
$accent-color: #135097;
$accent-color-lightBlue: #629DE2;
$accent-color-green: #42A0AD;
$accent-color-pink: #C88DEC;
$accent-color-purple: #9C8CFF;
$tag-color: #DAEFF8;
$white: #ffffff;
