//=====================================
//    inner
//=====================================
$inner-width: 1034px;
$inner-width-sp: 640px; // スマホサイズ

//=====================================
//    ヘッダーの高さ
//=====================================
$sp-header-height: 140px;
$pc-header-height: 98px;

//=====================================
//    ホバー時のtransitionの秒数
//=====================================
$hover-transition: 0.3s;
$hover-transition-3: 3s;

//=====================================
//    opacityに使用（06は連番ではなく値なのでハイフンが入ります）
//=====================================
$opacity-02: 0.2;
$opacity-05: 0.5;
$opacity-06: 0.6;
$opacity-08: 0.8;
$opacity-09: 0.9;

//=====================================
//    line-heightに使用（「.」は使えないので代わりにdotとする）
//=====================================
$line-height-1: 1;
$line-height-1dot2: 120%;
$line-height-1dot3: 130%;
$line-height-1dot4: 140%;
$line-height-1dot5: 150%;
$line-height-1dot6: 160%;
$line-height-1dot8: 180%;
$line-height-2: 200%;

//=====================================
//    box-shadowに使用（命名が無理すぎるので値の大きさを変数名にする）
//=====================================
$box-shadow: (0 6px 6px rgba(0, 0, 0, 0.16));

//=====================================
//    shadowに使用
//=====================================
$shadow-10: rgba(0, 0, 0, 0.1);
$shadow-25: rgba(0, 0, 0, 0.25);

//=====================================
//    スクロール時の位置調整
//=====================================
$header-block-size: 100px;

//=====================================
//    重なり順の定義
//=====================================
$layer: (
  // ローディング
  loading: 300,
  // モーダル
  modal: 100,
  // ドロワー
  drawer: 40,
  // フローティング
  floating: 30,
  // ヘッダー
  header: 20,
  // フッター
  footer: 10,
  default: 1
);
